<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store-connect</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>teamID</key>
  <string>L3W5TMTJRJ</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>ai.tarannum.kids</key>
    <string>Tarannum Kids App Store</string>
    <key>ai.tarannum.kids.deviceactivity</key>
    <string>Tarannum Kids Device Activity App Store</string>
    <key>ai.tarannum.kids.shieldaction</key>
    <string>Tarannum Kids Shield Action App Store</string>
    <key>ai.tarannum.kids.shieldconfiguration</key>
    <string>Tarannum Kids Shield Configuration App Store</string>
  </dict>
</dict>
</plist>
